* {
    font-family: serif;
  }

#sidebar {
  color:white;
  background-color: #222222;
  height:100vh;
  padding:40px;
}

#sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar h1 {
    text-align: center;
}
#sidebar p {
  font-size: 20px;
  text-align: center;
}

#sidebar ul li{
  font-size:25px;
}

#page-container {
  padding:100px;
}
